
import git
repo_url="https://github.com/PhonePe/pulse.git"
destination_path="D:/Project/Data"
git.Repo.clone_from(repo_url, destination_path)
print("rRepository cloned successfully")
///

In [ ]:
import os
path=r"D:/Project/Data/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

In [ ]:
path=r"D:/Project/Data/data/aggregated/transaction/country/india/state/"

In [ ]:
import pandas as pd
import json
import os
path=r"D:/Project/Data/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

In [ ]:
clm={'State':[],'Year':[],'Quater':[],'Transaction_type':[],'Transaction_count':[],'Transaction_amount':[]}
path=r"D:/Project/Data/data/aggregated/transaction/country/india/state/"
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data= open (p_k,'r')
            D = json.load(Data)
            for z in D['data']['transactionData']:
                Name=z['name']
                Count=z['paymentInstruments'][0]['count']
                amount=z['paymentInstruments'][0]['amount']
                clm['Transaction_type'].append(Name)
                clm['Transaction_count'].append(Count)
                clm['Transaction_amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))
Agg_Trans=pd.DataFrame(clm)

In [ ]:
path =r"D:/Project/Data/data/aggregated/user/country/india/state/"
clm={'State':[],'Year':[],'Quater':[],'Brand':[],'Brand_count':[],'Brand_percentage':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data= open(p_k,'r') 
            D = json.load(Data)
            try:
                for z in D['data']['usersByDevice']:
                    brand = z['brand']
                    brand_count=z['count']
                    brand_percentage=z['percentage']
                    clm['Brand'].append(brand)
                    clm['Brand_count'].append(brand_count)
                    clm['Brand_percentage'].append(brand_percentage)
                    clm['State'].append(i)
                    clm['Year'].append(j)
                    clm['Quater'].append(int(k.strip('.json'))) 
            except:
                pass 
Agg_User=pd.DataFrame(clm)

In [ ]:
import os
import pandas as pd
import json
path =r"D:/Project/Data/data/aggregated/insurance/country/india/state/"
Agg_state_list=os.listdir(path)
clm={'State':[],'Year':[],'Quater':[],'Insurance_type':[],'Insurance_count':[],'Insurance_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data= open (p_k,'r')
            D = json.load(Data)
            try:
                for z in D['data']['transactionData']:
                   Name=z['name']
                   Count=z['paymentInstruments'][0]['count']
                   amount=z['paymentInstruments'][0]['amount']
                   clm['Insurance_type'].append(Name)
                   clm['Insurance_count'].append(Count)
                   clm['Insurance_amount'].append(amount)
                   clm['State'].append(i)
                   clm['Year'].append(j)
                   clm['Quater'].append(int(k.strip('.json')))
            except:
                pass
Agg_Insurance=pd.DataFrame(clm)

In [ ]:
import os 
import pandas as pd
import json
path =r"D:/Project/Data/data/map/transaction/hover/country/india/state/"
clm={'State':[],'Year':[],'Quater':[],'District':[],'count':[],'amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data= open (p_k,'r')
            D = json.load(Data)
            for z in D['data']['hoverDataList']:
                District=z['name']
                Count=z['metric'][0]['count']
                amount=z['metric'][0]['amount']
                clm['District'].append(District)
                clm['count'].append(Count)
                clm['amount'].append(amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))
Map_Trans=pd.DataFrame(clm)

In [ ]:
path =r"D:/Project/Data/data/map/user/hover/country/india/state/"
clm={'State':[],'Year':[],'Quater':[],'District':[],'Registered_users':[],'App_opens':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data= open (p_k,'r')
            D = json.load(Data)
            for z in D['data']['hoverData'].items():
                District=z[0]
                Registered_users=z[1]['registeredUsers']
                App_opens=z[1]['appOpens']
                clm['District'].append(District)
                clm['Registered_users'].append(Registered_users)
                clm['App_opens'].append(App_opens)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))
Map_user=pd.DataFrame(clm)

In [ ]:
path =r"D:/Project/Data/data/map/insurance/hover/country/india/state/"
clm={'State':[],'Year':[],'Quater':[],'District':[],'Insurance_count':[],'Insurance_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data= open (p_k,'r')
            D = json.load(Data)
            for z in D['data']['hoverDataList']:
                District=z['name']
                Insurance_count=z['metric'][0]['count']
                Insurance_amount=z['metric'][0]['amount']
                clm['District'].append(District)
                clm['Insurance_count'].append(Insurance_count)
                clm['Insurance_amount'].append(Insurance_amount)
                clm['State'].append(i)
                clm['Year'].append(j)
                clm['Quater'].append(int(k.strip('.json')))
Map_Insurance=pd.DataFrame(clm)

In [ ]:
path =r"D:/Project/Data/data/top/transaction/country/india/state/"
district_clm={'State':[],'Year':[],'Quater':[],'District':[],'D_Count':[],'D_Amount':[]}
pincode_clm={'State':[],'Year':[],'Quater':[],'Pincode':[],'P_Count':[],'P_Amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data= open (p_k,'r')
            D = json.load(Data)
            try:
                for z in D['data']['districts']:
                    District=z['entityName']
                    D_Count=z['metric']['count']
                    D_Amount=z['metric']['amount']
                    district_clm['District'].append(District)
                    district_clm['D_Count'].append(D_Count)
                    district_clm['D_Amount'].append(D_Amount)
                    district_clm['State'].append(i)
                    district_clm['Year'].append(j)
                    district_clm['Quater'].append(int(k.strip('.json')))
                    for x in D['data']['pincodes']:
                       Pincode=x['entityName']
                       P_Count=x['metric']['count']
                       P_Amount=x['metric']['amount']
                       pincode_clm['Pincode'].append(Pincode)
                       pincode_clm['P_Count'].append(P_Count)
                       pincode_clm['P_Amount'].append(P_Amount)
                       pincode_clm['State'].append(i)
                       pincode_clm['Year'].append(j)
                       pincode_clm['Quater'].append(int(k.strip('.json')))
            except:
                pass           
Top_Transaction_District=pd.DataFrame(district_clm)
Top_Transaction_Pincode=pd.DataFrame(pincode_clm)

In [ ]:
path =r"D:/Project/Data/data/top/insurance/country/india/state/"
district_clm={'State':[],'Year':[],'Quater':[],'District':[],'D_Count':[],'D_Amount':[]}
pincode_clm={'State':[],'Year':[],'Quater':[],'Pincode':[],'P_Count':[],'P_Amount':[]}
state_clm={'State':[],'Year':[],'Quater':[],'State':[],'Count':[],'Amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data= open (p_k,'r')
            D = json.load(Data)
            try:
                for z in D['data']['districts']:
                    District=z['entityName']
                    D_Count=z['metric']['count']
                    D_Amount=z['metric']['amount']
                    district_clm['District'].append(District)
                    district_clm['D_Count'].append(D_Count)
                    district_clm['D_Amount'].append(D_Amount)
                    district_clm['State'].append(i)
                    district_clm['Year'].append(j)
                    district_clm['Quater'].append(int(k.strip('.json')))
                    for x in D['data']['pincodes']:
                       Pincode=x['entityName']
                       P_Count=x['metric']['count']
                       P_Amount=x['metric']['amount']
                       pincode_clm['Pincode'].append(Pincode)
                       pincode_clm['P_Count'].append(P_Count)
                       pincode_clm['P_Amount'].append(P_Amount)
                       pincode_clm['State'].append(i)
                       pincode_clm['Year'].append(j)
                       pincode_clm['Quater'].append(int(k.strip('.json')))
                       for y in D['data']['states']:
                           State=y['entityName']
                           Count=y['metric']['count']
                           Amount=y['metric']['amount']
                           state_clm['State'].append(State)
                           state_clm['Count'].append(Count)
                           state_clm['Amount'].append(Amount)
                           state_clm['Year'].append(j)
                           state_clm['Quater'].append(int(k.strip('.json')))
            except:
                pass           
Top_insurance_District=pd.DataFrame(district_clm)
Top_insurance_Pincode=pd.DataFrame(pincode_clm)
Top_insurance_State=pd.DataFrame(state_clm)

In [ ]:
path =r"D:/Project/Data/data/top/user/country/india/state/"
district_clm={'State':[],'Year':[],'Quater':[],'District':[],'Registeredusers_D':[]}
pincode_clm={'State':[],'Year':[],'Quater':[],'Pincode':[],'Registeredusers_P':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data= open (p_k,'r')
            D = json.load(Data)
            try:
                for z in D['data']['districts']:
                    District=z['name']
                    Registeredusers_D=z['registeredUsers']
                    district_clm['District'].append(District)
                    district_clm['Registeredusers_D'].append(Registeredusers_D)
                    district_clm['State'].append(i)
                    district_clm['Year'].append(j)
                    district_clm['Quater'].append(int(k.strip('.json')))
                    for x in D['data']['pincodes']:
                       Pincode=x['name']
                       Registeredusers_P=x['registeredUsers']
                       pincode_clm['Pincode'].append(Pincode)
                       pincode_clm['Registeredusers_P'].append(Registeredusers_P)
                       pincode_clm['State'].append(i)
                       pincode_clm['Year'].append(j)
                       pincode_clm['Quater'].append(int(k.strip('.json')))
            except:
                pass           
Top_user_District=pd.DataFrame(district_clm)
Top_user_Pincode=pd.DataFrame(pincode_clm)

In [ ]:
Agg_Trans.to_csv('Avg_trans.csv', index=False)
Agg_User.to_csv('Avg_user.csv', index=False)
Agg_Insurance.to_csv('Avg_Insurance.csv', index=False)
Map_Trans.to_csv('Map_Trans.csv', index=False)
Map_user.to_csv('Map_user.csv', index=False)
Map_Insurance.to_csv('Map_Insurance.csv', index=False)
Top_Transaction_District.to_csv('Top_Transaction_District.csv', index=False)
Top_Transaction_Pincode.to_csv('Top_Transaction_Pincode.csv', index=False)
Top_user_District.to_csv('Top_user_District.csv', index=False)
Top_user_Pincode.to_csv('Top_user_Pincode.csv', index=False)
Top_insurance_District.to_csv('Top_insurance_District.csv', index=False)
Top_insurance_Pincode.to_csv('Top_insurance_Pincode.csv', index=False)

AGG TRANS

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Agg_Trans (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        Transaction_type VARCHAR(255),
        Transaction_count BIGINT,
        Transaction_amount FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Agg_Trans (State, Year, Quater, Transaction_type, Transaction_count, Transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)",
     Agg_Trans.values.tolist())
conn.commit()
cursor.close()
conn.close()

AGG USER

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Agg_User (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        Brand VARCHAR(255),
        Brand_count BIGINT,
        Brand_percentage FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Agg_User (State, Year, Quater, Brand, Brand_count, Brand_percentage) VALUES (%s, %s, %s, %s, %s, %s)",
     Agg_User.values.tolist())
conn.commit()
cursor.close()
conn.close()

AGG Insurance

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Agg_Insurance (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        Insurance_type VARCHAR(255),
        Insurance_count BIGINT,
        Insurance_amount FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Agg_Insurance (State, Year, Quater, Insurance_type, Insurance_count, Insurance_amount) VALUES (%s, %s, %s, %s, %s, %s)",
     Agg_Insurance.values.tolist())
conn.commit()
cursor.close()
conn.close()

MAP TRANSACTION

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Map_Trans (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        District VARCHAR(255),
        count BIGINT,
        amount FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Map_Trans (State, Year, Quater, District, count, amount) VALUES (%s, %s, %s, %s, %s, %s)",
     Map_Trans.values.tolist())
conn.commit()
cursor.close()
conn.close()

MAP USER

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Map_user (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        District VARCHAR(255),
        Registered_users INT,
        App_opens INT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Map_user (State, Year, Quater, District, Registered_users, App_opens) VALUES (%s, %s, %s, %s, %s, %s)",
     Map_user.values.tolist())
conn.commit()
cursor.close()
conn.close()

MAP INSURANCE

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Map_Insurance (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        District VARCHAR(255),
        Insurance_count BIGINT,
        Insurance_amount FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Map_Insurance (State, Year, Quater, District, Insurance_count, Insurance_amount) VALUES (%s, %s, %s, %s, %s, %s)",
     Map_Insurance.values.tolist())
conn.commit()
cursor.close()
conn.close()

Top_Transaction_District

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Top_Transaction_District (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        District VARCHAR(255),
        D_Count BIGINT,
        D_Amount FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Top_Transaction_District (State, Year, Quater, District, D_Count, D_Amount) VALUES (%s, %s, %s, %s, %s, %s)",
     Top_Transaction_District.values.tolist())
conn.commit()
cursor.close()
conn.close()

Top_Transaction_Pincode

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Top_Transaction_Pincode (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        Pincode INT,
        P_Count BIGINT,
        P_Amount FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Top_Transaction_Pincode (State, Year, Quater, Pincode, P_Count, P_Amount) VALUES (%s, %s, %s, %s, %s, %s)",
     Top_Transaction_Pincode.values.tolist())
conn.commit()
cursor.close()
conn.close()

Top_user_District

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Top_user_District (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        District VARCHAR(255),
        Registeredusers_D FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Top_user_District (State, Year, Quater, District, Registeredusers_D) VALUES (%s, %s, %s, %s, %s)",
     Top_user_District.values.tolist())
conn.commit()
cursor.close()
conn.close()

Top_user_Pincode

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Top_user_Pincode (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        Pincode INT,
        Registeredusers_P FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Top_user_Pincode (State, Year, Quater, Pincode, Registeredusers_P) VALUES (%s, %s, %s, %s, %s)",
     Top_user_Pincode.values.tolist())
conn.commit()
cursor.close()
conn.close()

Top_insurance_District

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Top_insurance_District (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        District VARCHAR(255),
        D_Count BIGINT,
        D_Amount FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Top_insurance_District (State, Year, Quater, District, D_Count, D_Amount) VALUES (%s, %s, %s, %s, %s, %s)",
     Top_insurance_District.values.tolist())
conn.commit()
cursor.close()
conn.close()

Top_insurance_Pincode

In [ ]:
conn = psycopg2.connect(host="localhost",
                 database="project",
                 port=5432,
                 user="postgres",
                 password="Sarath",
                 sslmode='prefer')
cursor = conn.cursor()
create_table_query = """
    CREATE TABLE IF NOT EXISTS Top_insurance_Pincode (
        State VARCHAR(255),
        Year BIGINT,
        Quater BIGINT,
        Pincode INT,
        P_Count BIGINT,
        P_Amount FLOAT
    )
"""
cursor.execute(create_table_query)
cursor.executemany(
    "INSERT INTO Top_insurance_Pincode (State, Year, Quater, Pincode, P_Count, P_Amount) VALUES (%s, %s, %s, %s, %s, %s)",
     Top_insurance_Pincode.values.tolist())
conn.commit()
cursor.close()
conn.close()

In [ ]:
import pandas as pd

agg_trans=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Avg_trans.csv") 
agg_user=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Avg_user.csv")
agg_ins=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Avg_Insurance.csv")
map_trans=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Map_trans.csv")
map_user=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Map_user.csv")
map_ins=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Map_Insurance.csv")
top_trans_dist=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Top_Transaction_District.csv") 
top_trans_pin=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Top_Transaction_Pincode.csv")
top_user_dist=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Top_user_District.csv")
top_user_pin=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Top_user_Pincode.csv")
top_ins_dist=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Top_insurance_District.csv")
top_ins_pin=pd.read_csv(r"C:\Users\USER\OneDrive\Desktop\Top_insurance_Pincode.csv")

In [ ]:
dataset = {
    "Aggregate Transaction": agg_trans,
    "Aggregate User": agg_user,
    "Aggregate Insurance": agg_ins,
    "Map Transaction": map_trans,
    "Map User": map_user,
    "Map Insurance": map_ins,
    "Top Transaction District": top_trans_dist,
    "Top Transaction Pincode": top_trans_pin,
    "Top User District": top_user_dist,
    "Top User Pincode": top_user_pin,
    "Top Insurance District": top_ins_dist,
    "Top Insurance Pincode": top_ins_pin
}

In [ ]:
# Database connection details
host = "localhost"
database = "project"
port = 5432
user = "postgres"
password = "Sarath"
sslmode = "prefer"

engine = create_engine(f"postgresql+psycopg2://{user}:{password}@{host}:{port}/{database}")
print("SQL Connection Successful")
print("Data inserted")

# 1️ Top 10 States by Transaction Value
query1 = """
SELECT state, SUM(transaction_amount) AS total_transaction_value
FROM agg_trans
GROUP BY state
ORDER BY total_transaction_value DESC
LIMIT 10;
"""
top_states = pd.read_sql(query1, engine)

# 2️ Yearly Transaction Growth Trend
query2 = """
SELECT year, SUM(transaction_amount) AS total_transaction_value
FROM agg_trans
GROUP BY year
ORDER BY year;
"""
txn_trend = pd.read_sql(query2, engine)

# 3️ Insurance Penetration by State
query3 = """
SELECT 
    i.state,
    SUM(i.insurance_amount) AS total_insurance_value,
    SUM(t.transaction_amount) AS total_transaction_value,
    ROUND((SUM(i.insurance_amount)::NUMERIC / NULLIF(SUM(t.transaction_amount)::NUMERIC,0)) * 100, 2) AS insurance_penetration_percent
FROM agg_insurance i
JOIN agg_trans t ON i.state = t.state
GROUP BY i.state
ORDER BY insurance_penetration_percent DESC;
"""
insurance_pen = pd.read_sql(query3, engine)

# 4️ User Engagement by Device Brand
query4 = """
SELECT 
    u.brand,
    SUM(u.brand_count) AS total_users,
    SUM(m.app_opens) AS total_app_opens,
    ROUND(SUM(m.app_opens)::NUMERIC / NULLIF(SUM(u.brand_count)::NUMERIC,0), 2) AS engagement_ratio
FROM agg_user u
JOIN map_user m ON u.state = m.state AND u.year = m.year AND u.quater = m.quater
GROUP BY u.brand
ORDER BY engagement_ratio DESC;
"""
user_engagement = pd.read_sql(query4, engine)

print("SQL successfully!")